body{
    background-color: whitesmoke;
}
.box{
    padding: 40px;
}
.text{
    margin-top:20px;
    font-size: 12px;
    padding: 10px;
}
.box-part{
    background-color: white;
    padding: 30px 0px;
    margin: 30px 20px 30px 0;
    height: 270px;
    width: 300px;
    border-radius: 5px;
}

a{
    text-decoration: underline;
    margin-top: 5px;
}
.fa{
    color: dodgerblue;
}
/* .col-md-4{
    margin: 0;
} */